;; WARNING
;; The test-config.edn file is used for local environment variables, such as database credentials.
;; This file is listed in .gitignore and will be excluded from version control by Git.

{:port 3000
 ; set your test database connection URL here
 :database-url "datomic:free://localhost:4334/visitera_test"
}
