{:visitera/data1
 {:txes
  [[{:country/name    "Afghanistan"
     :country/code    "004"
     :country/alpha-2 "AF"
     :country/alpha-3 "AFG"}
    {:country/name    "Åland Islands"
     :country/code    "248"
     :country/alpha-2 "AX"
     :country/alpha-3 "ALA"}
    {:country/name    "Albania"
     :country/code    "008"
     :country/alpha-2 "AL"
     :country/alpha-3 "ALB"}
    {:country/name    "Algeria"
     :country/code    "012"
     :country/alpha-2 "DZ"
     :country/alpha-3 "DZA"}
    {:country/name    "American Samoa"
     :country/code    "016"
     :country/alpha-2 "AS"
     :country/alpha-3 "ASM"}
    {:country/name    "Andorra"
     :country/code    "020"
     :country/alpha-2 "AD"
     :country/alpha-3 "AND"}
    {:country/name    "Angola"
     :country/code    "024"
     :country/alpha-2 "AO"
     :country/alpha-3 "AGO"}
    {:country/name    "Anguilla"
     :country/code    "660"
     :country/alpha-2 "AI"
     :country/alpha-3 "AIA"}
    {:country/name    "Antarctica"
     :country/code    "010"
     :country/alpha-2 "AQ"
     :country/alpha-3 "ATA"}
    {:country/name    "Antigua and Barbuda"
     :country/code    "028"
     :country/alpha-2 "AG"
     :country/alpha-3 "ATG"}
    {:country/name    "Argentina"
     :country/code    "032"
     :country/alpha-2 "AR"
     :country/alpha-3 "ARG"}
    {:country/name    "Armenia"
     :country/code    "051"
     :country/alpha-2 "AM"
     :country/alpha-3 "ARM"}
    {:country/name    "Aruba"
     :country/code    "533"
     :country/alpha-2 "AW"
     :country/alpha-3 "ABW"}
    {:country/name    "Australia"
     :country/code    "036"
     :country/alpha-2 "AU"
     :country/alpha-3 "AUS"}
    {:country/name    "Austria"
     :country/code    "040"
     :country/alpha-2 "AT"
     :country/alpha-3 "AUT"}
    {:country/name    "Azerbaijan"
     :country/code    "031"
     :country/alpha-2 "AZ"
     :country/alpha-3 "AZE"}
    {:country/name    "Bahamas"
     :country/code    "044"
     :country/alpha-2 "BS"
     :country/alpha-3 "BHS"}
    {:country/name    "Bahrain"
     :country/code    "048"
     :country/alpha-2 "BH"
     :country/alpha-3 "BHR"}
    {:country/name    "Bangladesh"
     :country/code    "050"
     :country/alpha-2 "BD"
     :country/alpha-3 "BGD"}
    {:country/name    "Barbados"
     :country/code    "052"
     :country/alpha-2 "BB"
     :country/alpha-3 "BRB"}
    {:country/name    "Belarus"
     :country/code    "112"
     :country/alpha-2 "BY"
     :country/alpha-3 "BLR"}
    {:country/name    "Belgium"
     :country/code    "056"
     :country/alpha-2 "BE"
     :country/alpha-3 "BEL"}
    {:country/name    "Belize"
     :country/code    "084"
     :country/alpha-2 "BZ"
     :country/alpha-3 "BLZ"}
    {:country/name    "Benin"
     :country/code    "204"
     :country/alpha-2 "BJ"
     :country/alpha-3 "BEN"}
    {:country/name    "Bermuda"
     :country/code    "060"
     :country/alpha-2 "BM"
     :country/alpha-3 "BMU"}
    {:country/name    "Bhutan"
     :country/code    "064"
     :country/alpha-2 "BT"
     :country/alpha-3 "BTN"}
    {:country/name    "Bolivia (Plurinational State of)"
     :country/code    "068"
     :country/alpha-2 "BO"
     :country/alpha-3 "BOL"}
    {:country/name    "Bonaire, Sint Eustatius and Saba"
     :country/code    "535"
     :country/alpha-2 "BQ"
     :country/alpha-3 "BES"}
    {:country/name    "Bosnia and Herzegovina"
     :country/code    "070"
     :country/alpha-2 "BA"
     :country/alpha-3 "BIH"}
    {:country/name    "Botswana"
     :country/code    "072"
     :country/alpha-2 "BW"
     :country/alpha-3 "BWA"}
    {:country/name    "Bouvet Island"
     :country/code    "074"
     :country/alpha-2 "BV"
     :country/alpha-3 "BVT"}
    {:country/name    "Brazil"
     :country/code    "076"
     :country/alpha-2 "BR"
     :country/alpha-3 "BRA"}
    {:country/name    "British Indian Ocean Territory"
     :country/code    "086"
     :country/alpha-2 "IO"
     :country/alpha-3 "IOT"}
    {:country/name    "Brunei Darussalam"
     :country/code    "096"
     :country/alpha-2 "BN"
     :country/alpha-3 "BRN"}
    {:country/name    "Bulgaria"
     :country/code    "100"
     :country/alpha-2 "BG"
     :country/alpha-3 "BGR"}
    {:country/name    "Burkina Faso"
     :country/code    "854"
     :country/alpha-2 "BF"
     :country/alpha-3 "BFA"}
    {:country/name    "Burundi"
     :country/code    "108"
     :country/alpha-2 "BI"
     :country/alpha-3 "BDI"}
    {:country/name    "Cabo Verde"
     :country/code    "132"
     :country/alpha-2 "CV"
     :country/alpha-3 "CPV"}
    {:country/name    "Cambodia"
     :country/code    "116"
     :country/alpha-2 "KH"
     :country/alpha-3 "KHM"}
    {:country/name    "Cameroon"
     :country/code    "120"
     :country/alpha-2 "CM"
     :country/alpha-3 "CMR"}
    {:country/name    "Canada"
     :country/code    "124"
     :country/alpha-2 "CA"
     :country/alpha-3 "CAN"}
    {:country/name    "Cayman Islands"
     :country/code    "136"
     :country/alpha-2 "KY"
     :country/alpha-3 "CYM"}
    {:country/name    "Central African Republic"
     :country/code    "140"
     :country/alpha-2 "CF"
     :country/alpha-3 "CAF"}
    {:country/name    "Chad"
     :country/code    "148"
     :country/alpha-2 "TD"
     :country/alpha-3 "TCD"}
    {:country/name    "Chile"
     :country/code    "152"
     :country/alpha-2 "CL"
     :country/alpha-3 "CHL"}
    {:country/name    "China"
     :country/code    "156"
     :country/alpha-2 "CN"
     :country/alpha-3 "CHN"}
    {:country/name    "Christmas Island"
     :country/code    "162"
     :country/alpha-2 "CX"
     :country/alpha-3 "CXR"}
    {:country/name    "Cocos (Keeling) Islands"
     :country/code    "166"
     :country/alpha-2 "CC"
     :country/alpha-3 "CCK"}
    {:country/name    "Colombia"
     :country/code    "170"
     :country/alpha-2 "CO"
     :country/alpha-3 "COL"}
    {:country/name    "Comoros"
     :country/code    "174"
     :country/alpha-2 "KM"
     :country/alpha-3 "COM"}
    {:country/name    "Congo"
     :country/code    "178"
     :country/alpha-2 "CG"
     :country/alpha-3 "COG"}
    {:country/name    "Congo, Democratic Republic of the"
     :country/code    "180"
     :country/alpha-2 "CD"
     :country/alpha-3 "COD"}
    {:country/name    "Cook Islands"
     :country/code    "184"
     :country/alpha-2 "CK"
     :country/alpha-3 "COK"}
    {:country/name    "Costa Rica"
     :country/code    "188"
     :country/alpha-2 "CR"
     :country/alpha-3 "CRI"}
    {:country/name    "Côte d'Ivoire"
     :country/code    "384"
     :country/alpha-2 "CI"
     :country/alpha-3 "CIV"}
    {:country/name    "Croatia"
     :country/code    "191"
     :country/alpha-2 "HR"
     :country/alpha-3 "HRV"}
    {:country/name    "Cuba"
     :country/code    "192"
     :country/alpha-2 "CU"
     :country/alpha-3 "CUB"}
    {:country/name    "Curaçao"
     :country/code    "531"
     :country/alpha-2 "CW"
     :country/alpha-3 "CUW"}
    {:country/name    "Cyprus"
     :country/code    "196"
     :country/alpha-2 "CY"
     :country/alpha-3 "CYP"}
    {:country/name    "Czechia"
     :country/code    "203"
     :country/alpha-2 "CZ"
     :country/alpha-3 "CZE"}
    {:country/name    "Denmark"
     :country/code    "208"
     :country/alpha-2 "DK"
     :country/alpha-3 "DNK"}
    {:country/name    "Djibouti"
     :country/code    "262"
     :country/alpha-2 "DJ"
     :country/alpha-3 "DJI"}
    {:country/name    "Dominica"
     :country/code    "212"
     :country/alpha-2 "DM"
     :country/alpha-3 "DMA"}
    {:country/name    "Dominican Republic"
     :country/code    "214"
     :country/alpha-2 "DO"
     :country/alpha-3 "DOM"}
    {:country/name    "Ecuador"
     :country/code    "218"
     :country/alpha-2 "EC"
     :country/alpha-3 "ECU"}
    {:country/name    "Egypt"
     :country/code    "818"
     :country/alpha-2 "EG"
     :country/alpha-3 "EGY"}
    {:country/name    "El Salvador"
     :country/code    "222"
     :country/alpha-2 "SV"
     :country/alpha-3 "SLV"}
    {:country/name    "Equatorial Guinea"
     :country/code    "226"
     :country/alpha-2 "GQ"
     :country/alpha-3 "GNQ"}
    {:country/name    "Eritrea"
     :country/code    "232"
     :country/alpha-2 "ER"
     :country/alpha-3 "ERI"}
    {:country/name    "Estonia"
     :country/code    "233"
     :country/alpha-2 "EE"
     :country/alpha-3 "EST"}
    {:country/name    "Eswatini"
     :country/code    "748"
     :country/alpha-2 "SZ"
     :country/alpha-3 "SWZ"}
    {:country/name    "Ethiopia"
     :country/code    "231"
     :country/alpha-2 "ET"
     :country/alpha-3 "ETH"}
    {:country/name    "Falkland Islands (Malvinas)"
     :country/code    "238"
     :country/alpha-2 "FK"
     :country/alpha-3 "FLK"}
    {:country/name    "Faroe Islands"
     :country/code    "234"
     :country/alpha-2 "FO"
     :country/alpha-3 "FRO"}
    {:country/name    "Fiji"
     :country/code    "242"
     :country/alpha-2 "FJ"
     :country/alpha-3 "FJI"}
    {:country/name    "Finland"
     :country/code    "246"
     :country/alpha-2 "FI"
     :country/alpha-3 "FIN"}
    {:country/name    "France"
     :country/code    "250"
     :country/alpha-2 "FR"
     :country/alpha-3 "FRA"}
    {:country/name    "French Guiana"
     :country/code    "254"
     :country/alpha-2 "GF"
     :country/alpha-3 "GUF"}
    {:country/name    "French Polynesia"
     :country/code    "258"
     :country/alpha-2 "PF"
     :country/alpha-3 "PYF"}
    {:country/name    "French Southern Territories"
     :country/code    "260"
     :country/alpha-2 "TF"
     :country/alpha-3 "ATF"}
    {:country/name    "Gabon"
     :country/code    "266"
     :country/alpha-2 "GA"
     :country/alpha-3 "GAB"}
    {:country/name    "Gambia"
     :country/code    "270"
     :country/alpha-2 "GM"
     :country/alpha-3 "GMB"}
    {:country/name    "Georgia"
     :country/code    "268"
     :country/alpha-2 "GE"
     :country/alpha-3 "GEO"}
    {:country/name    "Germany"
     :country/code    "276"
     :country/alpha-2 "DE"
     :country/alpha-3 "DEU"}
    {:country/name    "Ghana"
     :country/code    "288"
     :country/alpha-2 "GH"
     :country/alpha-3 "GHA"}
    {:country/name    "Gibraltar"
     :country/code    "292"
     :country/alpha-2 "GI"
     :country/alpha-3 "GIB"}
    {:country/name    "Greece"
     :country/code    "300"
     :country/alpha-2 "GR"
     :country/alpha-3 "GRC"}
    {:country/name    "Greenland"
     :country/code    "304"
     :country/alpha-2 "GL"
     :country/alpha-3 "GRL"}
    {:country/name    "Grenada"
     :country/code    "308"
     :country/alpha-2 "GD"
     :country/alpha-3 "GRD"}
    {:country/name    "Guadeloupe"
     :country/code    "312"
     :country/alpha-2 "GP"
     :country/alpha-3 "GLP"}
    {:country/name    "Guam"
     :country/code    "316"
     :country/alpha-2 "GU"
     :country/alpha-3 "GUM"}
    {:country/name    "Guatemala"
     :country/code    "320"
     :country/alpha-2 "GT"
     :country/alpha-3 "GTM"}
    {:country/name    "Guernsey"
     :country/code    "831"
     :country/alpha-2 "GG"
     :country/alpha-3 "GGY"}
    {:country/name    "Guinea"
     :country/code    "324"
     :country/alpha-2 "GN"
     :country/alpha-3 "GIN"}
    {:country/name    "Guinea-Bissau"
     :country/code    "624"
     :country/alpha-2 "GW"
     :country/alpha-3 "GNB"}
    {:country/name    "Guyana"
     :country/code    "328"
     :country/alpha-2 "GY"
     :country/alpha-3 "GUY"}
    {:country/name    "Haiti"
     :country/code    "332"
     :country/alpha-2 "HT"
     :country/alpha-3 "HTI"}
    {:country/name    "Heard Island and McDonald Islands"
     :country/code    "334"
     :country/alpha-2 "HM"
     :country/alpha-3 "HMD"}
    {:country/name    "Holy See"
     :country/code    "336"
     :country/alpha-2 "VA"
     :country/alpha-3 "VAT"}
    {:country/name    "Honduras"
     :country/code    "340"
     :country/alpha-2 "HN"
     :country/alpha-3 "HND"}
    {:country/name    "Hong Kong"
     :country/code    "344"
     :country/alpha-2 "HK"
     :country/alpha-3 "HKG"}
    {:country/name    "Hungary"
     :country/code    "348"
     :country/alpha-2 "HU"
     :country/alpha-3 "HUN"}
    {:country/name    "Iceland"
     :country/code    "352"
     :country/alpha-2 "IS"
     :country/alpha-3 "ISL"}
    {:country/name    "India"
     :country/code    "356"
     :country/alpha-2 "IN"
     :country/alpha-3 "IND"}
    {:country/name    "Indonesia"
     :country/code    "360"
     :country/alpha-2 "ID"
     :country/alpha-3 "IDN"}
    {:country/name    "Iran (Islamic Republic of)"
     :country/code    "364"
     :country/alpha-2 "IR"
     :country/alpha-3 "IRN"}
    {:country/name    "Iraq"
     :country/code    "368"
     :country/alpha-2 "IQ"
     :country/alpha-3 "IRQ"}
    {:country/name    "Ireland"
     :country/code    "372"
     :country/alpha-2 "IE"
     :country/alpha-3 "IRL"}
    {:country/name    "Isle of Man"
     :country/code    "833"
     :country/alpha-2 "IM"
     :country/alpha-3 "IMN"}
    {:country/name    "Israel"
     :country/code    "376"
     :country/alpha-2 "IL"
     :country/alpha-3 "ISR"}
    {:country/name    "Italy"
     :country/code    "380"
     :country/alpha-2 "IT"
     :country/alpha-3 "ITA"}
    {:country/name    "Jamaica"
     :country/code    "388"
     :country/alpha-2 "JM"
     :country/alpha-3 "JAM"}
    {:country/name    "Japan"
     :country/code    "392"
     :country/alpha-2 "JP"
     :country/alpha-3 "JPN"}
    {:country/name    "Jersey"
     :country/code    "832"
     :country/alpha-2 "JE"
     :country/alpha-3 "JEY"}
    {:country/name    "Jordan"
     :country/code    "400"
     :country/alpha-2 "JO"
     :country/alpha-3 "JOR"}
    {:country/name    "Kazakhstan"
     :country/code    "398"
     :country/alpha-2 "KZ"
     :country/alpha-3 "KAZ"}
    {:country/name    "Kenya"
     :country/code    "404"
     :country/alpha-2 "KE"
     :country/alpha-3 "KEN"}
    {:country/name    "Kiribati"
     :country/code    "296"
     :country/alpha-2 "KI"
     :country/alpha-3 "KIR"}
    {:country/name    "Korea (Democratic People's Republic of)"
     :country/code    "408"
     :country/alpha-2 "KP"
     :country/alpha-3 "PRK"}
    {:country/name    "Korea, Republic of"
     :country/code    "410"
     :country/alpha-2 "KR"
     :country/alpha-3 "KOR"}
    {:country/name    "Kuwait"
     :country/code    "414"
     :country/alpha-2 "KW"
     :country/alpha-3 "KWT"}
    {:country/name    "Kyrgyzstan"
     :country/code    "417"
     :country/alpha-2 "KG"
     :country/alpha-3 "KGZ"}
    {:country/name    "Lao People's Democratic Republic"
     :country/code    "418"
     :country/alpha-2 "LA"
     :country/alpha-3 "LAO"}
    {:country/name    "Latvia"
     :country/code    "428"
     :country/alpha-2 "LV"
     :country/alpha-3 "LVA"}
    {:country/name    "Lebanon"
     :country/code    "422"
     :country/alpha-2 "LB"
     :country/alpha-3 "LBN"}
    {:country/name    "Lesotho"
     :country/code    "426"
     :country/alpha-2 "LS"
     :country/alpha-3 "LSO"}
    {:country/name    "Liberia"
     :country/code    "430"
     :country/alpha-2 "LR"
     :country/alpha-3 "LBR"}
    {:country/name    "Libya"
     :country/code    "434"
     :country/alpha-2 "LY"
     :country/alpha-3 "LBY"}
    {:country/name    "Liechtenstein"
     :country/code    "438"
     :country/alpha-2 "LI"
     :country/alpha-3 "LIE"}
    {:country/name    "Lithuania"
     :country/code    "440"
     :country/alpha-2 "LT"
     :country/alpha-3 "LTU"}
    {:country/name    "Luxembourg"
     :country/code    "442"
     :country/alpha-2 "LU"
     :country/alpha-3 "LUX"}
    {:country/name    "Macao"
     :country/code    "446"
     :country/alpha-2 "MO"
     :country/alpha-3 "MAC"}
    {:country/name    "Madagascar"
     :country/code    "450"
     :country/alpha-2 "MG"
     :country/alpha-3 "MDG"}
    {:country/name    "Malawi"
     :country/code    "454"
     :country/alpha-2 "MW"
     :country/alpha-3 "MWI"}
    {:country/name    "Malaysia"
     :country/code    "458"
     :country/alpha-2 "MY"
     :country/alpha-3 "MYS"}
    {:country/name    "Maldives"
     :country/code    "462"
     :country/alpha-2 "MV"
     :country/alpha-3 "MDV"}
    {:country/name    "Mali"
     :country/code    "466"
     :country/alpha-2 "ML"
     :country/alpha-3 "MLI"}
    {:country/name    "Malta"
     :country/code    "470"
     :country/alpha-2 "MT"
     :country/alpha-3 "MLT"}
    {:country/name    "Marshall Islands"
     :country/code    "584"
     :country/alpha-2 "MH"
     :country/alpha-3 "MHL"}
    {:country/name    "Martinique"
     :country/code    "474"
     :country/alpha-2 "MQ"
     :country/alpha-3 "MTQ"}
    {:country/name    "Mauritania"
     :country/code    "478"
     :country/alpha-2 "MR"
     :country/alpha-3 "MRT"}
    {:country/name    "Mauritius"
     :country/code    "480"
     :country/alpha-2 "MU"
     :country/alpha-3 "MUS"}
    {:country/name    "Mayotte"
     :country/code    "175"
     :country/alpha-2 "YT"
     :country/alpha-3 "MYT"}
    {:country/name    "Mexico"
     :country/code    "484"
     :country/alpha-2 "MX"
     :country/alpha-3 "MEX"}
    {:country/name    "Micronesia (Federated States of)"
     :country/code    "583"
     :country/alpha-2 "FM"
     :country/alpha-3 "FSM"}
    {:country/name    "Moldova, Republic of"
     :country/code    "498"
     :country/alpha-2 "MD"
     :country/alpha-3 "MDA"}
    {:country/name    "Monaco"
     :country/code    "492"
     :country/alpha-2 "MC"
     :country/alpha-3 "MCO"}
    {:country/name    "Mongolia"
     :country/code    "496"
     :country/alpha-2 "MN"
     :country/alpha-3 "MNG"}
    {:country/name    "Montenegro"
     :country/code    "499"
     :country/alpha-2 "ME"
     :country/alpha-3 "MNE"}
    {:country/name    "Montserrat"
     :country/code    "500"
     :country/alpha-2 "MS"
     :country/alpha-3 "MSR"}
    {:country/name    "Morocco"
     :country/code    "504"
     :country/alpha-2 "MA"
     :country/alpha-3 "MAR"}
    {:country/name    "Mozambique"
     :country/code    "508"
     :country/alpha-2 "MZ"
     :country/alpha-3 "MOZ"}
    {:country/name    "Myanmar"
     :country/code    "104"
     :country/alpha-2 "MM"
     :country/alpha-3 "MMR"}
    {:country/name    "Namibia"
     :country/code    "516"
     :country/alpha-2 "NA"
     :country/alpha-3 "NAM"}
    {:country/name    "Nauru"
     :country/code    "520"
     :country/alpha-2 "NR"
     :country/alpha-3 "NRU"}
    {:country/name    "Nepal"
     :country/code    "524"
     :country/alpha-2 "NP"
     :country/alpha-3 "NPL"}
    {:country/name    "Netherlands"
     :country/code    "528"
     :country/alpha-2 "NL"
     :country/alpha-3 "NLD"}
    {:country/name    "New Caledonia"
     :country/code    "540"
     :country/alpha-2 "NC"
     :country/alpha-3 "NCL"}
    {:country/name    "New Zealand"
     :country/code    "554"
     :country/alpha-2 "NZ"
     :country/alpha-3 "NZL"}
    {:country/name    "Nicaragua"
     :country/code    "558"
     :country/alpha-2 "NI"
     :country/alpha-3 "NIC"}
    {:country/name    "Niger"
     :country/code    "562"
     :country/alpha-2 "NE"
     :country/alpha-3 "NER"}
    {:country/name    "Nigeria"
     :country/code    "566"
     :country/alpha-2 "NG"
     :country/alpha-3 "NGA"}
    {:country/name    "Niue"
     :country/code    "570"
     :country/alpha-2 "NU"
     :country/alpha-3 "NIU"}
    {:country/name    "Norfolk Island"
     :country/code    "574"
     :country/alpha-2 "NF"
     :country/alpha-3 "NFK"}
    {:country/name    "North Macedonia"
     :country/code    "807"
     :country/alpha-2 "MK"
     :country/alpha-3 "MKD"}
    {:country/name    "Northern Mariana Islands"
     :country/code    "580"
     :country/alpha-2 "MP"
     :country/alpha-3 "MNP"}
    {:country/name    "Norway"
     :country/code    "578"
     :country/alpha-2 "NO"
     :country/alpha-3 "NOR"}
    {:country/name    "Oman"
     :country/code    "512"
     :country/alpha-2 "OM"
     :country/alpha-3 "OMN"}
    {:country/name    "Pakistan"
     :country/code    "586"
     :country/alpha-2 "PK"
     :country/alpha-3 "PAK"}
    {:country/name    "Palau"
     :country/code    "585"
     :country/alpha-2 "PW"
     :country/alpha-3 "PLW"}
    {:country/name    "Palestine, State of"
     :country/code    "275"
     :country/alpha-2 "PS"
     :country/alpha-3 "PSE"}
    {:country/name    "Panama"
     :country/code    "591"
     :country/alpha-2 "PA"
     :country/alpha-3 "PAN"}
    {:country/name    "Papua New Guinea"
     :country/code    "598"
     :country/alpha-2 "PG"
     :country/alpha-3 "PNG"}
    {:country/name    "Paraguay"
     :country/code    "600"
     :country/alpha-2 "PY"
     :country/alpha-3 "PRY"}
    {:country/name    "Peru"
     :country/code    "604"
     :country/alpha-2 "PE"
     :country/alpha-3 "PER"}
    {:country/name    "Philippines"
     :country/code    "608"
     :country/alpha-2 "PH"
     :country/alpha-3 "PHL"}
    {:country/name    "Pitcairn"
     :country/code    "612"
     :country/alpha-2 "PN"
     :country/alpha-3 "PCN"}
    {:country/name    "Poland"
     :country/code    "616"
     :country/alpha-2 "PL"
     :country/alpha-3 "POL"}
    {:country/name    "Portugal"
     :country/code    "620"
     :country/alpha-2 "PT"
     :country/alpha-3 "PRT"}
    {:country/name    "Puerto Rico"
     :country/code    "630"
     :country/alpha-2 "PR"
     :country/alpha-3 "PRI"}
    {:country/name    "Qatar"
     :country/code    "634"
     :country/alpha-2 "QA"
     :country/alpha-3 "QAT"}
    {:country/name    "Réunion"
     :country/code    "638"
     :country/alpha-2 "RE"
     :country/alpha-3 "REU"}
    {:country/name    "Romania"
     :country/code    "642"
     :country/alpha-2 "RO"
     :country/alpha-3 "ROU"}
    {:country/name    "Russian Federation"
     :country/code    "643"
     :country/alpha-2 "RU"
     :country/alpha-3 "RUS"}
    {:country/name    "Rwanda"
     :country/code    "646"
     :country/alpha-2 "RW"
     :country/alpha-3 "RWA"}
    {:country/name    "Saint Barthélemy"
     :country/code    "652"
     :country/alpha-2 "BL"
     :country/alpha-3 "BLM"}
    {:country/name    "Saint Helena, Ascension and Tristan da Cunha"
     :country/code    "654"
     :country/alpha-2 "SH"
     :country/alpha-3 "SHN"}
    {:country/name    "Saint Kitts and Nevis"
     :country/code    "659"
     :country/alpha-2 "KN"
     :country/alpha-3 "KNA"}
    {:country/name    "Saint Lucia"
     :country/code    "662"
     :country/alpha-2 "LC"
     :country/alpha-3 "LCA"}
    {:country/name    "Saint Martin (French part)"
     :country/code    "663"
     :country/alpha-2 "MF"
     :country/alpha-3 "MAF"}
    {:country/name    "Saint Pierre and Miquelon"
     :country/code    "666"
     :country/alpha-2 "PM"
     :country/alpha-3 "SPM"}
    {:country/name    "Saint Vincent and the Grenadines"
     :country/code    "670"
     :country/alpha-2 "VC"
     :country/alpha-3 "VCT"}
    {:country/name    "Samoa"
     :country/code    "882"
     :country/alpha-2 "WS"
     :country/alpha-3 "WSM"}
    {:country/name    "San Marino"
     :country/code    "674"
     :country/alpha-2 "SM"
     :country/alpha-3 "SMR"}
    {:country/name    "Sao Tome and Principe"
     :country/code    "678"
     :country/alpha-2 "ST"
     :country/alpha-3 "STP"}
    {:country/name    "Saudi Arabia"
     :country/code    "682"
     :country/alpha-2 "SA"
     :country/alpha-3 "SAU"}
    {:country/name    "Senegal"
     :country/code    "686"
     :country/alpha-2 "SN"
     :country/alpha-3 "SEN"}
    {:country/name    "Serbia"
     :country/code    "688"
     :country/alpha-2 "RS"
     :country/alpha-3 "SRB"}
    {:country/name    "Seychelles"
     :country/code    "690"
     :country/alpha-2 "SC"
     :country/alpha-3 "SYC"}
    {:country/name    "Sierra Leone"
     :country/code    "694"
     :country/alpha-2 "SL"
     :country/alpha-3 "SLE"}
    {:country/name    "Singapore"
     :country/code    "702"
     :country/alpha-2 "SG"
     :country/alpha-3 "SGP"}
    {:country/name    "Sint Maarten (Dutch part)"
     :country/code    "534"
     :country/alpha-2 "SX"
     :country/alpha-3 "SXM"}
    {:country/name    "Slovakia"
     :country/code    "703"
     :country/alpha-2 "SK"
     :country/alpha-3 "SVK"}
    {:country/name    "Slovenia"
     :country/code    "705"
     :country/alpha-2 "SI"
     :country/alpha-3 "SVN"}
    {:country/name    "Solomon Islands"
     :country/code    "090"
     :country/alpha-2 "SB"
     :country/alpha-3 "SLB"}
    {:country/name    "Somalia"
     :country/code    "706"
     :country/alpha-2 "SO"
     :country/alpha-3 "SOM"}
    {:country/name    "South Africa"
     :country/code    "710"
     :country/alpha-2 "ZA"
     :country/alpha-3 "ZAF"}
    {:country/name    "South Georgia and the South Sandwich Islands"
     :country/code    "239"
     :country/alpha-2 "GS"
     :country/alpha-3 "SGS"}
    {:country/name    "South Sudan"
     :country/code    "728"
     :country/alpha-2 "SS"
     :country/alpha-3 "SSD"}
    {:country/name    "Spain"
     :country/code    "724"
     :country/alpha-2 "ES"
     :country/alpha-3 "ESP"}
    {:country/name    "Sri Lanka"
     :country/code    "144"
     :country/alpha-2 "LK"
     :country/alpha-3 "LKA"}
    {:country/name    "Sudan"
     :country/code    "729"
     :country/alpha-2 "SD"
     :country/alpha-3 "SDN"}
    {:country/name    "Suriname"
     :country/code    "740"
     :country/alpha-2 "SR"
     :country/alpha-3 "SUR"}
    {:country/name    "Svalbard and Jan Mayen"
     :country/code    "744"
     :country/alpha-2 "SJ"
     :country/alpha-3 "SJM"}
    {:country/name    "Sweden"
     :country/code    "752"
     :country/alpha-2 "SE"
     :country/alpha-3 "SWE"}
    {:country/name    "Switzerland"
     :country/code    "756"
     :country/alpha-2 "CH"
     :country/alpha-3 "CHE"}
    {:country/name    "Syrian Arab Republic"
     :country/code    "760"
     :country/alpha-2 "SY"
     :country/alpha-3 "SYR"}
    {:country/name    "Taiwan, Province of China"
     :country/code    "158"
     :country/alpha-2 "TW"
     :country/alpha-3 "TWN"}
    {:country/name    "Tajikistan"
     :country/code    "762"
     :country/alpha-2 "TJ"
     :country/alpha-3 "TJK"}
    {:country/name    "Tanzania, United Republic of"
     :country/code    "834"
     :country/alpha-2 "TZ"
     :country/alpha-3 "TZA"}
    {:country/name    "Thailand"
     :country/code    "764"
     :country/alpha-2 "TH"
     :country/alpha-3 "THA"}
    {:country/name    "Timor-Leste"
     :country/code    "626"
     :country/alpha-2 "TL"
     :country/alpha-3 "TLS"}
    {:country/name    "Togo"
     :country/code    "768"
     :country/alpha-2 "TG"
     :country/alpha-3 "TGO"}
    {:country/name    "Tokelau"
     :country/code    "772"
     :country/alpha-2 "TK"
     :country/alpha-3 "TKL"}
    {:country/name    "Tonga"
     :country/code    "776"
     :country/alpha-2 "TO"
     :country/alpha-3 "TON"}
    {:country/name    "Trinidad and Tobago"
     :country/code    "780"
     :country/alpha-2 "TT"
     :country/alpha-3 "TTO"}
    {:country/name    "Tunisia"
     :country/code    "788"
     :country/alpha-2 "TN"
     :country/alpha-3 "TUN"}
    {:country/name    "Turkey"
     :country/code    "792"
     :country/alpha-2 "TR"
     :country/alpha-3 "TUR"}
    {:country/name    "Turkmenistan"
     :country/code    "795"
     :country/alpha-2 "TM"
     :country/alpha-3 "TKM"}
    {:country/name    "Turks and Caicos Islands"
     :country/code    "796"
     :country/alpha-2 "TC"
     :country/alpha-3 "TCA"}
    {:country/name    "Tuvalu"
     :country/code    "798"
     :country/alpha-2 "TV"
     :country/alpha-3 "TUV"}
    {:country/name    "Uganda"
     :country/code    "800"
     :country/alpha-2 "UG"
     :country/alpha-3 "UGA"}
    {:country/name    "Ukraine"
     :country/code    "804"
     :country/alpha-2 "UA"
     :country/alpha-3 "UKR"}
    {:country/name    "United Arab Emirates"
     :country/code    "784"
     :country/alpha-2 "AE"
     :country/alpha-3 "ARE"}
    {:country/name    "United Kingdom of Great Britain and Northern Ireland"
     :country/code    "826"
     :country/alpha-2 "GB"
     :country/alpha-3 "GBR"}
    {:country/name    "United States of America"
     :country/code    "840"
     :country/alpha-2 "US"
     :country/alpha-3 "USA"}
    {:country/name    "United States Minor Outlying Islands"
     :country/code    "581"
     :country/alpha-2 "UM"
     :country/alpha-3 "UMI"}
    {:country/name    "Uruguay"
     :country/code    "858"
     :country/alpha-2 "UY"
     :country/alpha-3 "URY"}
    {:country/name    "Uzbekistan"
     :country/code    "860"
     :country/alpha-2 "UZ"
     :country/alpha-3 "UZB"}
    {:country/name    "Vanuatu"
     :country/code    "548"
     :country/alpha-2 "VU"
     :country/alpha-3 "VUT"}
    {:country/name    "Venezuela (Bolivarian Republic of)"
     :country/code    "862"
     :country/alpha-2 "VE"
     :country/alpha-3 "VEN"}
    {:country/name    "Viet Nam"
     :country/code    "704"
     :country/alpha-2 "VN"
     :country/alpha-3 "VNM"}
    {:country/name    "Virgin Islands (British)"
     :country/code    "092"
     :country/alpha-2 "VG"
     :country/alpha-3 "VGB"}
    {:country/name    "Virgin Islands (U.S.)"
     :country/code    "850"
     :country/alpha-2 "VI"
     :country/alpha-3 "VIR"}
    {:country/name    "Wallis and Futuna"
     :country/code    "876"
     :country/alpha-2 "WF"
     :country/alpha-3 "WLF"}
    {:country/name    "Western Sahara"
     :country/code    "732"
     :country/alpha-2 "EH"
     :country/alpha-3 "ESH"}
    {:country/name    "Yemen"
     :country/code    "887"
     :country/alpha-2 "YE"
     :country/alpha-3 "YEM"}
    {:country/name    "Zambia"
     :country/code    "894"
     :country/alpha-2 "ZM"
     :country/alpha-3 "ZMB"}
    {:country/name    "Zimbabwe"
     :country/code    "716"
     :country/alpha-2 "ZW"
     :country/alpha-3 "ZWE"}]]}}
