{;; norm1 installs the schema into Datomic
 :visitera/norm1
 {:txes
  [[;; User schema
    {:db/doc                "User email address"
     :db/ident              :user/email
     :db/valueType          :db.type/string
     :db/cardinality        :db.cardinality/one
     :db/unique             :db.unique/identity}

    {:db/doc                "User password hash"
     :db/ident              :user/password
     :db/valueType          :db.type/string
     :db/cardinality        :db.cardinality/one}

    {:db/doc                "Countries user already visited"
     :db/ident              :user/countries-visited
     :db/valueType          :db.type/ref
     :db/cardinality        :db.cardinality/many}

    {:db/doc                "Countries user wants to visit"
     :db/ident              :user/countries-to-visit
     :db/valueType          :db.type/ref
     :db/cardinality        :db.cardinality/many}]

    ;; Country schema
   [{:db/doc                "Country name"
     :db/ident              :country/name
     :db/valueType          :db.type/string
     :db/cardinality        :db.cardinality/one
     :db/unique             :db.unique/identity}

    {:db/doc                "Country ISO alpha-3 code"
     :db/ident              :country/alpha-3
     :db/valueType          :db.type/string
     :db/cardinality        :db.cardinality/one}

    {:db/doc                "Country code"
     :db/ident              :country/code
     :db/valueType          :db.type/string
     :db/cardinality        :db.cardinality/one}]]}

 ;; data1 installs initial countries data
 :visitera/data1
 {:txes
  [[{:country/name "Afghanistan"
     :country/alpha-3 "AFG"
     :country/code "004"}
    {:country/name "Åland Islands"
     :country/alpha-3 "ALA"
     :country/code "248"}
    {:country/name "Albania"
     :country/alpha-3 "ALB"
     :country/code "008"}
    {:country/name "Algeria"
     :country/alpha-3 "DZA"
     :country/code "012"}
    {:country/name "American Samoa"
     :country/alpha-3 "ASM"
     :country/code "016"}
    {:country/name "Andorra"
     :country/alpha-3 "AND"
     :country/code "020"}
    {:country/name "Angola"
     :country/alpha-3 "AGO"
     :country/code "024"}
    {:country/name "Anguilla"
     :country/alpha-3 "AIA"
     :country/code "660"}
    {:country/name "Antarctica"
     :country/alpha-3 "ATA"
     :country/code "010"}
    {:country/name "Antigua and Barbuda"
     :country/alpha-3 "ATG"
     :country/code "028"}
    {:country/name "Argentina"
     :country/alpha-3 "ARG"
     :country/code "032"}
    {:country/name "Armenia"
     :country/alpha-3 "ARM"
     :country/code "051"}
    {:country/name "Aruba"
     :country/alpha-3 "ABW"
     :country/code "533"}
    {:country/name "Australia"
     :country/alpha-3 "AUS"
     :country/code "036"}
    {:country/name "Austria"
     :country/alpha-3 "AUT"
     :country/code "040"}
    {:country/name "Azerbaijan"
     :country/alpha-3 "AZE"
     :country/code "031"}
    {:country/name "Bahamas"
     :country/alpha-3 "BHS"
     :country/code "044"}
    {:country/name "Bahrain"
     :country/alpha-3 "BHR"
     :country/code "048"}
    {:country/name "Bangladesh"
     :country/alpha-3 "BGD"
     :country/code "050"}
    {:country/name "Barbados"
     :country/alpha-3 "BRB"
     :country/code "052"}
    {:country/name "Belarus"
     :country/alpha-3 "BLR"
     :country/code "112"}
    {:country/name "Belgium"
     :country/alpha-3 "BEL"
     :country/code "056"}
    {:country/name "Belize"
     :country/alpha-3 "BLZ"
     :country/code "084"}
    {:country/name "Benin"
     :country/alpha-3 "BEN"
     :country/code "204"}
    {:country/name "Bermuda"
     :country/alpha-3 "BMU"
     :country/code "060"}
    {:country/name "Bhutan"
     :country/alpha-3 "BTN"
     :country/code "064"}
    {:country/name "Bolivia (Plurinational State of)"
     :country/alpha-3 "BOL"
     :country/code "068"}
    {:country/name "Bonaire, Sint Eustatius and Saba"
     :country/alpha-3 "BES"
     :country/code "535"}
    {:country/name "Bosnia and Herzegovina"
     :country/alpha-3 "BIH"
     :country/code "070"}
    {:country/name "Botswana"
     :country/alpha-3 "BWA"
     :country/code "072"}
    {:country/name "Bouvet Island"
     :country/alpha-3 "BVT"
     :country/code "074"}
    {:country/name "Brazil"
     :country/alpha-3 "BRA"
     :country/code "076"}
    {:country/name "British Indian Ocean Territory"
     :country/alpha-3 "IOT"
     :country/code "086"}
    {:country/name "Brunei Darussalam"
     :country/alpha-3 "BRN"
     :country/code "096"}
    {:country/name "Bulgaria"
     :country/alpha-3 "BGR"
     :country/code "100"}
    {:country/name "Burkina Faso"
     :country/alpha-3 "BFA"
     :country/code "854"}
    {:country/name "Burundi"
     :country/alpha-3 "BDI"
     :country/code "108"}
    {:country/name "Cabo Verde"
     :country/alpha-3 "CPV"
     :country/code "132"}
    {:country/name "Cambodia"
     :country/alpha-3 "KHM"
     :country/code "116"}
    {:country/name "Cameroon"
     :country/alpha-3 "CMR"
     :country/code "120"}
    {:country/name "Canada"
     :country/alpha-3 "CAN"
     :country/code "124"}
    {:country/name "Cayman Islands"
     :country/alpha-3 "CYM"
     :country/code "136"}
    {:country/name "Central African Republic"
     :country/alpha-3 "CAF"
     :country/code "140"}
    {:country/name "Chad"
     :country/alpha-3 "TCD"
     :country/code "148"}
    {:country/name "Chile"
     :country/alpha-3 "CHL"
     :country/code "152"}
    {:country/name "China"
     :country/alpha-3 "CHN"
     :country/code "156"}
    {:country/name "Christmas Island"
     :country/alpha-3 "CXR"
     :country/code "162"}
    {:country/name "Cocos (Keeling) Islands"
     :country/alpha-3 "CCK"
     :country/code "166"}
    {:country/name "Colombia"
     :country/alpha-3 "COL"
     :country/code "170"}
    {:country/name "Comoros"
     :country/alpha-3 "COM"
     :country/code "174"}
    {:country/name "Congo"
     :country/alpha-3 "COG"
     :country/code "178"}
    {:country/name "Congo, Democratic Republic of the"
     :country/alpha-3 "COD"
     :country/code "180"}
    {:country/name "Cook Islands"
     :country/alpha-3 "COK"
     :country/code "184"}
    {:country/name "Costa Rica"
     :country/alpha-3 "CRI"
     :country/code "188"}
    {:country/name "Côte d'Ivoire"
     :country/alpha-3 "CIV"
     :country/code "384"}
    {:country/name "Croatia"
     :country/alpha-3 "HRV"
     :country/code "191"}
    {:country/name "Cuba"
     :country/alpha-3 "CUB"
     :country/code "192"}
    {:country/name "Curaçao"
     :country/alpha-3 "CUW"
     :country/code "531"}
    {:country/name "Cyprus"
     :country/alpha-3 "CYP"
     :country/code "196"}
    {:country/name "Czechia"
     :country/alpha-3 "CZE"
     :country/code "203"}
    {:country/name "Denmark"
     :country/alpha-3 "DNK"
     :country/code "208"}
    {:country/name "Djibouti"
     :country/alpha-3 "DJI"
     :country/code "262"}
    {:country/name "Dominica"
     :country/alpha-3 "DMA"
     :country/code "212"}
    {:country/name "Dominican Republic"
     :country/alpha-3 "DOM"
     :country/code "214"}
    {:country/name "Ecuador"
     :country/alpha-3 "ECU"
     :country/code "218"}
    {:country/name "Egypt"
     :country/alpha-3 "EGY"
     :country/code "818"}
    {:country/name "El Salvador"
     :country/alpha-3 "SLV"
     :country/code "222"}
    {:country/name "Equatorial Guinea"
     :country/alpha-3 "GNQ"
     :country/code "226"}
    {:country/name "Eritrea"
     :country/alpha-3 "ERI"
     :country/code "232"}
    {:country/name "Estonia"
     :country/alpha-3 "EST"
     :country/code "233"}
    {:country/name "Eswatini"
     :country/alpha-3 "SWZ"
     :country/code "748"}
    {:country/name "Ethiopia"
     :country/alpha-3 "ETH"
     :country/code "231"}
    {:country/name "Falkland Islands (Malvinas)"
     :country/alpha-3 "FLK"
     :country/code "238"}
    {:country/name "Faroe Islands"
     :country/alpha-3 "FRO"
     :country/code "234"}
    {:country/name "Fiji"
     :country/alpha-3 "FJI"
     :country/code "242"}
    {:country/name "Finland"
     :country/alpha-3 "FIN"
     :country/code "246"}
    {:country/name "France"
     :country/alpha-3 "FRA"
     :country/code "250"}
    {:country/name "French Guiana"
     :country/alpha-3 "GUF"
     :country/code "254"}
    {:country/name "French Polynesia"
     :country/alpha-3 "PYF"
     :country/code "258"}
    {:country/name "French Southern Territories"
     :country/alpha-3 "ATF"
     :country/code "260"}
    {:country/name "Gabon"
     :country/alpha-3 "GAB"
     :country/code "266"}
    {:country/name "Gambia"
     :country/alpha-3 "GMB"
     :country/code "270"}
    {:country/name "Georgia"
     :country/alpha-3 "GEO"
     :country/code "268"}
    {:country/name "Germany"
     :country/alpha-3 "DEU"
     :country/code "276"}
    {:country/name "Ghana"
     :country/alpha-3 "GHA"
     :country/code "288"}
    {:country/name "Gibraltar"
     :country/alpha-3 "GIB"
     :country/code "292"}
    {:country/name "Greece"
     :country/alpha-3 "GRC"
     :country/code "300"}
    {:country/name "Greenland"
     :country/alpha-3 "GRL"
     :country/code "304"}
    {:country/name "Grenada"
     :country/alpha-3 "GRD"
     :country/code "308"}
    {:country/name "Guadeloupe"
     :country/alpha-3 "GLP"
     :country/code "312"}
    {:country/name "Guam"
     :country/alpha-3 "GUM"
     :country/code "316"}
    {:country/name "Guatemala"
     :country/alpha-3 "GTM"
     :country/code "320"}
    {:country/name "Guernsey"
     :country/alpha-3 "GGY"
     :country/code "831"}
    {:country/name "Guinea"
     :country/alpha-3 "GIN"
     :country/code "324"}
    {:country/name "Guinea-Bissau"
     :country/alpha-3 "GNB"
     :country/code "624"}
    {:country/name "Guyana"
     :country/alpha-3 "GUY"
     :country/code "328"}
    {:country/name "Haiti"
     :country/alpha-3 "HTI"
     :country/code "332"}
    {:country/name "Heard Island and McDonald Islands"
     :country/alpha-3 "HMD"
     :country/code "334"}
    {:country/name "Holy See"
     :country/alpha-3 "VAT"
     :country/code "336"}
    {:country/name "Honduras"
     :country/alpha-3 "HND"
     :country/code "340"}
    {:country/name "Hong Kong"
     :country/alpha-3 "HKG"
     :country/code "344"}
    {:country/name "Hungary"
     :country/alpha-3 "HUN"
     :country/code "348"}
    {:country/name "Iceland"
     :country/alpha-3 "ISL"
     :country/code "352"}
    {:country/name "India"
     :country/alpha-3 "IND"
     :country/code "356"}
    {:country/name "Indonesia"
     :country/alpha-3 "IDN"
     :country/code "360"}
    {:country/name "Iran (Islamic Republic of)"
     :country/alpha-3 "IRN"
     :country/code "364"}
    {:country/name "Iraq"
     :country/alpha-3 "IRQ"
     :country/code "368"}
    {:country/name "Ireland"
     :country/alpha-3 "IRL"
     :country/code "372"}
    {:country/name "Isle of Man"
     :country/alpha-3 "IMN"
     :country/code "833"}
    {:country/name "Israel"
     :country/alpha-3 "ISR"
     :country/code "376"}
    {:country/name "Italy"
     :country/alpha-3 "ITA"
     :country/code "380"}
    {:country/name "Jamaica"
     :country/alpha-3 "JAM"
     :country/code "388"}
    {:country/name "Japan"
     :country/alpha-3 "JPN"
     :country/code "392"}
    {:country/name "Jersey"
     :country/alpha-3 "JEY"
     :country/code "832"}
    {:country/name "Jordan"
     :country/alpha-3 "JOR"
     :country/code "400"}
    {:country/name "Kazakhstan"
     :country/alpha-3 "KAZ"
     :country/code "398"}
    {:country/name "Kenya"
     :country/alpha-3 "KEN"
     :country/code "404"}
    {:country/name "Kiribati"
     :country/alpha-3 "KIR"
     :country/code "296"}
    {:country/name
     "Korea (Democratic People's Republic of)"
     :country/alpha-3 "PRK"
     :country/code "408"}
    {:country/name "Korea, Republic of"
     :country/alpha-3 "KOR"
     :country/code "410"}
    {:country/name "Kuwait"
     :country/alpha-3 "KWT"
     :country/code "414"}
    {:country/name "Kyrgyzstan"
     :country/alpha-3 "KGZ"
     :country/code "417"}
    {:country/name "Lao People's Democratic Republic"
     :country/alpha-3 "LAO"
     :country/code "418"}
    {:country/name "Latvia"
     :country/alpha-3 "LVA"
     :country/code "428"}
    {:country/name "Lebanon"
     :country/alpha-3 "LBN"
     :country/code "422"}
    {:country/name "Lesotho"
     :country/alpha-3 "LSO"
     :country/code "426"}
    {:country/name "Liberia"
     :country/alpha-3 "LBR"
     :country/code "430"}
    {:country/name "Libya"
     :country/alpha-3 "LBY"
     :country/code "434"}
    {:country/name "Liechtenstein"
     :country/alpha-3 "LIE"
     :country/code "438"}
    {:country/name "Lithuania"
     :country/alpha-3 "LTU"
     :country/code "440"}
    {:country/name "Luxembourg"
     :country/alpha-3 "LUX"
     :country/code "442"}
    {:country/name "Macao"
     :country/alpha-3 "MAC"
     :country/code "446"}
    {:country/name "Madagascar"
     :country/alpha-3 "MDG"
     :country/code "450"}
    {:country/name "Malawi"
     :country/alpha-3 "MWI"
     :country/code "454"}
    {:country/name "Malaysia"
     :country/alpha-3 "MYS"
     :country/code "458"}
    {:country/name "Maldives"
     :country/alpha-3 "MDV"
     :country/code "462"}
    {:country/name "Mali"
     :country/alpha-3 "MLI"
     :country/code "466"}
    {:country/name "Malta"
     :country/alpha-3 "MLT"
     :country/code "470"}
    {:country/name "Marshall Islands"
     :country/alpha-3 "MHL"
     :country/code "584"}
    {:country/name "Martinique"
     :country/alpha-3 "MTQ"
     :country/code "474"}
    {:country/name "Mauritania"
     :country/alpha-3 "MRT"
     :country/code "478"}
    {:country/name "Mauritius"
     :country/alpha-3 "MUS"
     :country/code "480"}
    {:country/name "Mayotte"
     :country/alpha-3 "MYT"
     :country/code "175"}
    {:country/name "Mexico"
     :country/alpha-3 "MEX"
     :country/code "484"}
    {:country/name "Micronesia (Federated States of)"
     :country/alpha-3 "FSM"
     :country/code "583"}
    {:country/name "Moldova, Republic of"
     :country/alpha-3 "MDA"
     :country/code "498"}
    {:country/name "Monaco"
     :country/alpha-3 "MCO"
     :country/code "492"}
    {:country/name "Mongolia"
     :country/alpha-3 "MNG"
     :country/code "496"}
    {:country/name "Montenegro"
     :country/alpha-3 "MNE"
     :country/code "499"}
    {:country/name "Montserrat"
     :country/alpha-3 "MSR"
     :country/code "500"}
    {:country/name "Morocco"
     :country/alpha-3 "MAR"
     :country/code "504"}
    {:country/name "Mozambique"
     :country/alpha-3 "MOZ"
     :country/code "508"}
    {:country/name "Myanmar"
     :country/alpha-3 "MMR"
     :country/code "104"}
    {:country/name "Namibia"
     :country/alpha-3 "NAM"
     :country/code "516"}
    {:country/name "Nauru"
     :country/alpha-3 "NRU"
     :country/code "520"}
    {:country/name "Nepal"
     :country/alpha-3 "NPL"
     :country/code "524"}
    {:country/name "Netherlands"
     :country/alpha-3 "NLD"
     :country/code "528"}
    {:country/name "New Caledonia"
     :country/alpha-3 "NCL"
     :country/code "540"}
    {:country/name "New Zealand"
     :country/alpha-3 "NZL"
     :country/code "554"}
    {:country/name "Nicaragua"
     :country/alpha-3 "NIC"
     :country/code "558"}
    {:country/name "Niger"
     :country/alpha-3 "NER"
     :country/code "562"}
    {:country/name "Nigeria"
     :country/alpha-3 "NGA"
     :country/code "566"}
    {:country/name "Niue"
     :country/alpha-3 "NIU"
     :country/code "570"}
    {:country/name "Norfolk Island"
     :country/alpha-3 "NFK"
     :country/code "574"}
    {:country/name "North Macedonia"
     :country/alpha-3 "MKD"
     :country/code "807"}
    {:country/name "Northern Mariana Islands"
     :country/alpha-3 "MNP"
     :country/code "580"}
    {:country/name "Norway"
     :country/alpha-3 "NOR"
     :country/code "578"}
    {:country/name "Oman"
     :country/alpha-3 "OMN"
     :country/code "512"}
    {:country/name "Pakistan"
     :country/alpha-3 "PAK"
     :country/code "586"}
    {:country/name "Palau"
     :country/alpha-3 "PLW"
     :country/code "585"}
    {:country/name "Palestine, State of"
     :country/alpha-3 "PSE"
     :country/code "275"}
    {:country/name "Panama"
     :country/alpha-3 "PAN"
     :country/code "591"}
    {:country/name "Papua New Guinea"
     :country/alpha-3 "PNG"
     :country/code "598"}
    {:country/name "Paraguay"
     :country/alpha-3 "PRY"
     :country/code "600"}
    {:country/name "Peru"
     :country/alpha-3 "PER"
     :country/code "604"}
    {:country/name "Philippines"
     :country/alpha-3 "PHL"
     :country/code "608"}
    {:country/name "Pitcairn"
     :country/alpha-3 "PCN"
     :country/code "612"}
    {:country/name "Poland"
     :country/alpha-3 "POL"
     :country/code "616"}
    {:country/name "Portugal"
     :country/alpha-3 "PRT"
     :country/code "620"}
    {:country/name "Puerto Rico"
     :country/alpha-3 "PRI"
     :country/code "630"}
    {:country/name "Qatar"
     :country/alpha-3 "QAT"
     :country/code "634"}
    {:country/name "Réunion"
     :country/alpha-3 "REU"
     :country/code "638"}
    {:country/name "Romania"
     :country/alpha-3 "ROU"
     :country/code "642"}
    {:country/name "Russian Federation"
     :country/alpha-3 "RUS"
     :country/code "643"}
    {:country/name "Rwanda"
     :country/alpha-3 "RWA"
     :country/code "646"}
    {:country/name "Saint Barthélemy"
     :country/alpha-3 "BLM"
     :country/code "652"}
    {:country/name
     "Saint Helena, Ascension and Tristan da Cunha"
     :country/alpha-3 "SHN"
     :country/code "654"}
    {:country/name "Saint Kitts and Nevis"
     :country/alpha-3 "KNA"
     :country/code "659"}
    {:country/name "Saint Lucia"
     :country/alpha-3 "LCA"
     :country/code "662"}
    {:country/name "Saint Martin (French part)"
     :country/alpha-3 "MAF"
     :country/code "663"}
    {:country/name "Saint Pierre and Miquelon"
     :country/alpha-3 "SPM"
     :country/code "666"}
    {:country/name "Saint Vincent and the Grenadines"
     :country/alpha-3 "VCT"
     :country/code "670"}
    {:country/name "Samoa"
     :country/alpha-3 "WSM"
     :country/code "882"}
    {:country/name "San Marino"
     :country/alpha-3 "SMR"
     :country/code "674"}
    {:country/name "Sao Tome and Principe"
     :country/alpha-3 "STP"
     :country/code "678"}
    {:country/name "Saudi Arabia"
     :country/alpha-3 "SAU"
     :country/code "682"}
    {:country/name "Senegal"
     :country/alpha-3 "SEN"
     :country/code "686"}
    {:country/name "Serbia"
     :country/alpha-3 "SRB"
     :country/code "688"}
    {:country/name "Seychelles"
     :country/alpha-3 "SYC"
     :country/code "690"}
    {:country/name "Sierra Leone"
     :country/alpha-3 "SLE"
     :country/code "694"}
    {:country/name "Singapore"
     :country/alpha-3 "SGP"
     :country/code "702"}
    {:country/name "Sint Maarten (Dutch part)"
     :country/alpha-3 "SXM"
     :country/code "534"}
    {:country/name "Slovakia"
     :country/alpha-3 "SVK"
     :country/code "703"}
    {:country/name "Slovenia"
     :country/alpha-3 "SVN"
     :country/code "705"}
    {:country/name "Solomon Islands"
     :country/alpha-3 "SLB"
     :country/code "090"}
    {:country/name "Somalia"
     :country/alpha-3 "SOM"
     :country/code "706"}
    {:country/name "South Africa"
     :country/alpha-3 "ZAF"
     :country/code "710"}
    {:country/name
     "South Georgia and the South Sandwich Islands"
     :country/alpha-3 "SGS"
     :country/code "239"}
    {:country/name "South Sudan"
     :country/alpha-3 "SSD"
     :country/code "728"}
    {:country/name "Spain"
     :country/alpha-3 "ESP"
     :country/code "724"}
    {:country/name "Sri Lanka"
     :country/alpha-3 "LKA"
     :country/code "144"}
    {:country/name "Sudan"
     :country/alpha-3 "SDN"
     :country/code "729"}
    {:country/name "Suriname"
     :country/alpha-3 "SUR"
     :country/code "740"}
    {:country/name "Svalbard and Jan Mayen"
     :country/alpha-3 "SJM"
     :country/code "744"}
    {:country/name "Sweden"
     :country/alpha-3 "SWE"
     :country/code "752"}
    {:country/name "Switzerland"
     :country/alpha-3 "CHE"
     :country/code "756"}
    {:country/name "Syrian Arab Republic"
     :country/alpha-3 "SYR"
     :country/code "760"}
    {:country/name "Taiwan, Province of China"
     :country/alpha-3 "TWN"
     :country/code "158"}
    {:country/name "Tajikistan"
     :country/alpha-3 "TJK"
     :country/code "762"}
    {:country/name "Tanzania, United Republic of"
     :country/alpha-3 "TZA"
     :country/code "834"}
    {:country/name "Thailand"
     :country/alpha-3 "THA"
     :country/code "764"}
    {:country/name "Timor-Leste"
     :country/alpha-3 "TLS"
     :country/code "626"}
    {:country/name "Togo"
     :country/alpha-3 "TGO"
     :country/code "768"}
    {:country/name "Tokelau"
     :country/alpha-3 "TKL"
     :country/code "772"}
    {:country/name "Tonga"
     :country/alpha-3 "TON"
     :country/code "776"}
    {:country/name "Trinidad and Tobago"
     :country/alpha-3 "TTO"
     :country/code "780"}
    {:country/name "Tunisia"
     :country/alpha-3 "TUN"
     :country/code "788"}
    {:country/name "Turkey"
     :country/alpha-3 "TUR"
     :country/code "792"}
    {:country/name "Turkmenistan"
     :country/alpha-3 "TKM"
     :country/code "795"}
    {:country/name "Turks and Caicos Islands"
     :country/alpha-3 "TCA"
     :country/code "796"}
    {:country/name "Tuvalu"
     :country/alpha-3 "TUV"
     :country/code "798"}
    {:country/name "Uganda"
     :country/alpha-3 "UGA"
     :country/code "800"}
    {:country/name "Ukraine"
     :country/alpha-3 "UKR"
     :country/code "804"}
    {:country/name "United Arab Emirates"
     :country/alpha-3 "ARE"
     :country/code "784"}
    {:country/name
     "United Kingdom of Great Britain and Northern Ireland"
     :country/alpha-3 "GBR"
     :country/code "826"}
    {:country/name "United States of America"
     :country/alpha-3 "USA"
     :country/code "840"}
    {:country/name "United States Minor Outlying Islands"
     :country/alpha-3 "UMI"
     :country/code "581"}
    {:country/name "Uruguay"
     :country/alpha-3 "URY"
     :country/code "858"}
    {:country/name "Uzbekistan"
     :country/alpha-3 "UZB"
     :country/code "860"}
    {:country/name "Vanuatu"
     :country/alpha-3 "VUT"
     :country/code "548"}
    {:country/name "Venezuela (Bolivarian Republic of)"
     :country/alpha-3 "VEN"
     :country/code "862"}
    {:country/name "Viet Nam"
     :country/alpha-3 "VNM"
     :country/code "704"}
    {:country/name "Virgin Islands (British)"
     :country/alpha-3 "VGB"
     :country/code "092"}
    {:country/name "Virgin Islands (U.S.)"
     :country/alpha-3 "VIR"
     :country/code "850"}
    {:country/name "Wallis and Futuna"
     :country/alpha-3 "WLF"
     :country/code "876"}
    {:country/name "Western Sahara"
     :country/alpha-3 "ESH"
     :country/code "732"}
    {:country/name "Yemen"
     :country/alpha-3 "YEM"
     :country/code "887"}
    {:country/name "Zambia"
     :country/alpha-3 "ZMB"
     :country/code "894"}
    {:country/name "Zimbabwe"
     :country/alpha-3 "ZWE"
     :country/code "716"}]]}

 :visitera/data2
 {:txes
  [[;; Some test data 
    {:db/id           "1"
     :country/name    "Moloria"
     :country/alpha-3 "MLR"
     :country/code    "1111"}

    {:db/id           "2"
     :country/name    "Angoriatica"
     :country/alpha-3 "AGT"
     :country/code    "2222"}

    {:db/id                   "3"
     :user/email              "john@doe.com"
     :user/password           "123"
     :user/countries-to-visit [{:db/id "1"}]
     :user/countries-visited  [{:db/id "2"}]}]]}}
