{% extends "auth.html" %}
{% block form %}
<form method="POST" action="/login" class="box">
    {% csrf-field %}
    <label class="label is-medium has-text-centered">Log in</label>
    {% if messages.success %}
      <p class="has-text-success level-item has-text-centered">{{messages.success}}</p>
    {% endif %}
    <div class="field">
        <label for="email" class="label">Email</label>
        <div class="control has-icons-left">
            <input type="text"
                   name="email"
                   placeholder="e.g.bobsmith@gmail.com"
                   class="input {% if errors.email %} is-danger {% endif %}"
                   value="{% if email %}{{email}}{% endif %}"
            />
            <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
            </span>
        </div>
        {% if errors.email %}
        <p class="help is-danger">{{errors.email}}</p>
        {% endif %}

   </div>
    <div class="field">
        <label for="password" class="label">Password</label>
        <div class="control has-icons-left">
            <input type="password"
                   name="password"
                   placeholder="*******"
                   class="input {% if errors.password %} is-danger {% endif %}"
 
            />
            <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
            </span>
        </div>
        {% if errors.password %}
        <p class="help is-danger">{{errors.password}}</p>
        {% endif %}
    </div>
   <div class="field">
        <button class="button is-success" style="width: 100%">
            Login
        </button>
    </div>
    <div class="field has-text-centered">
        <span>Not a user? <a href="/register">Register</a></span>
    </div>
</form>
{% endblock %}